:root {
    --menu-text-color: #4A4A4A;
    --background-color: #3CDBC0;
    --main-title-color: #FFF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header {}

.logo {
    width: 155px;
}

.image {
    width: 100%;
}

.menu {
    font-size: 16px;
}

.menu-item {}

.main {}

.title {
    font-size: 30px;
}